<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CSIO.Properties.Settings.CSIOConnectionString" connectionString="Data Source=SERVER;Initial Catalog=CSIO;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="CSIO.Properties.Settings.csioConnectionString1" connectionString="server=localhost;user id=root;password=;persistsecurityinfo=True;database=csio"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <userSettings>
    <CSIO.Properties.Settings>
      <setting name="databasename" serializeAs="String">
        <value>CSIO</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>moitfe_gandaki</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>m01tfe_g@nd@k1</value>
      </setting>
      <setting name="reportaddress" serializeAs="String">
        <value>\Document\</value>
      </setting>
      <setting name="noofdays" serializeAs="String">
        <value>210</value>
      </setting>
      <setting name="updatdate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="exint" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="newdatetime" serializeAs="String">
        <value>2021-03-31</value>
      </setting>
      <setting name="officeid" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="servername" serializeAs="String">
        <value>192.168.1.100</value>
      </setting>
      <setting name="onlineservername" serializeAs="String">
        <value>151.106.98.138</value>
      </setting>
      <setting name="onlinedatabasename" serializeAs="String">
        <value>u872700585_csio</value>
      </setting>
      <setting name="onlineusername" serializeAs="String">
        <value>u872700585_csioadmin</value>
      </setting>
      <setting name="onlinepassword" serializeAs="String">
        <value>T51EJ3*w[</value>
      </setting>
    </CSIO.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
     </startup>
  <applicationSettings>
    <CSIO.Properties.Settings>
      <setting name="exdate" serializeAs="String">
        <value>2022-04-29</value>
      </setting>
    </CSIO.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.27.0" newVersion="8.0.27.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
